<header class="top-header">
  <div class="header-left">
    <h1>Pipeline</h1>

    <div class="pipeline-stats">
      <span>Total Value: {{ getTotalDealsValue() | currency }}</span>

      <span>Active Deals: {{ deals().length }}</span>
    </div>
  </div>

  <div class="header-right">
    @if (isDealsUpdated()) {
    <button class="save-btn" (click)="handleSave()">Save Changes</button>
    }

    <button class="primary-btn">+ New Stage</button>
    <button class="primary-btn">+ New Deal</button>
  </div>
</header>
