<header class="top-header">
  <div class="header-left">
    <h1>Pipeline</h1>

    <div class="pipeline-stats">
      <span>Total Value: {{ getTotalDealsValue() | currency }}</span>

      <span>Active Deals: {{ deals().length }}</span>
    </div>
  </div>

  <div class="header-right">
    <button
      class="primary-btn"
      onclick="document.getElementById('newStageModal').style.display='block'"
    >
      + New Stage
    </button>
    <button
      class="primary-btn"
      onclick="document.getElementById('newDealModal').style.display='block'"
    >
      + New Deal
    </button>
  </div>
</header>
