<app-pipeline-header
  [deals]="deals"
  [isDealsUpdated]="isDealsUpdated"
  (onSave)="handleSave()"
/>
<div class="pipeline-container">
  <app-pipeline-stage
    id="leads"
    title="Leads"
    [deals]="[]"
    [connectedDropLists]="dropListIds"
    (onChange)="handleChange($event)"
  />
  <app-pipeline-stage
    id="meetings"
    title="Meetings"
    [deals]="meetings"
    [connectedDropLists]="dropListIds"
    (onChange)="handleChange($event)"
  />
  <app-pipeline-stage
    id="proposals"
    title="Proposals"
    [deals]="proposals"
    [connectedDropLists]="dropListIds"
    (onChange)="handleChange($event)"
  />
  <app-pipeline-stage
    id="negotiations"
    title="Negotiations"
    [deals]="negotiations"
    [connectedDropLists]="dropListIds"
    (onChange)="handleChange($event)"
  />
  <app-pipeline-stage
    id="wins"
    title="Wins"
    [deals]="wins"
    [connectedDropLists]="dropListIds"
    (onChange)="handleChange($event)"
  />
  <app-pipeline-stage
    id="loses"
    title="Loses"
    [deals]="loses"
    [connectedDropLists]="dropListIds"
    (onChange)="handleChange($event)"
  />
</div>
<app-deal-modal [show]="false" />
<app-stage-modal [show]="true" />
