<app-pipeline-header [deals]="deals" />
<div class="pipeline-container">
  <app-pipeline-stage
    title="Leads"
    [deals]="leads"
    (onChange)="handleChange(leads, $event)"
  />
  <app-pipeline-stage
    title="Meetings"
    [deals]="meetings"
    (onChange)="handleChange(meetings, $event)"
  />
  <app-pipeline-stage
    title="Proposals"
    [deals]="proposals"
    (onChange)="handleChange(proposals, $event)"
  />
  <app-pipeline-stage
    title="Negotiations"
    [deals]="negotiations"
    (onChange)="handleChange(negotiations, $event)"
  />
  <app-pipeline-stage
    title="Wins"
    [deals]="loses"
    (onChange)="handleChange(loses, $event)"
  />
  <app-pipeline-stage
    title="Loses"
    [deals]="loses"
    (onChange)="handleChange(loses, $event)"
  />
</div>
