<nav class="nav-menu">
  <a
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/"
    class="nav-item"
    >Dashboard</a
  >
  <a
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/contacts"
    class="nav-item"
    >Contacts</a
  >
  <a
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/teams"
    class="nav-item"
    >Teams</a
  >
  <a
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/teams2"
    class="nav-item"
    >Teams (2)</a
  >
  <a
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/xxx"
    class="nav-item"
    >Calendar</a
  >
  <a
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/tasks"
    class="nav-item"
    >Tasks</a
  >
  <a
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/pipeline"
    class="nav-item"
    >Pipeline</a
  >
  <a
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/products-services"
    class="nav-item"
    >Products & Services</a
  >
  <a
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/reports"
    class="nav-item"
    >Reports</a
  >
  <a
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    routerLink="/xxxxxxx"
    class="nav-item"
    >Settings</a
  >
</nav>
